{% block footer %}
    <!-- footer content -->
    <footer style="min-height: 57px;z-index: 1000">
        <div class="pull-right" style="padding-right: 3%;margin-top: 5px">
            ABET Report And Analysis Software - Symfony Web Application
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}