{% block footer %}
    <!-- footer content -->
    <footer style="z-index: 1000; clear: both; ">
        <div class="pull-right" style="padding-right: 3%;margin: 2px 0">
            ABET Report And Analysis Software - Symfony Web Application
        </div>
    </footer>
    <!-- /footer content -->
{% endblock %}