{% trans_default_domain 'FOSUserBundle' %}
<tr>
    <td style="width: 120px">
        {{ form_row(form.name,{'attr':{'style':'width: 100%'}}) }}
    </td>
    <td style="width: 500px">
        {{ form_row(form.info,{'attr':{'style':'width: 100%'}}) }}
    </td>
    <td style="width: 80px">
        {{ form_row(form.percentage,{'attr':{'style':'width: 60px'}}) }}
    </td>
    <td style="width: 80px;text-align: center">
        {{ form_row(form.contributes,{'attr':{'style':'width: 100%;text-align:center'}}) }}
    </td>
</tr>



