{% trans_default_domain 'FOSUserBundle' %}
<tr>
    <td style="width: 10%">
        {{ form_row(form.name,{'attr':{'style':'width: 100%'}}) }}
    </td>
    <td style="width: 45%">
        {{ form_row(form.description,{'attr':{'style':'width: 100%'}}) }}
    </td>
    <td style="width: 7%">
        {{ form_row(form.percentage,{'attr':{'style':'width: 50px'}}) }}
    </td>
    <td class="text-center" style="width: 8%;text-align: center;padding: 0 30px;">
        {{ form_row(form.outcomes,{'attr':{'class':'text-center','style':'width: 100%;text-align:center'}}) }}
    </td>
</tr>