{% trans_default_domain 'FOSUserBundle' %}
<td style="width: 10%" class="no-padding">
    {{ form_widget(form.name,{'attr':{'style':'width: 100%'}}) }}
</td>
<td style="width: 45%" class="no-padding">
    {{ form_widget(form.description,{'attr':{'style':'width: 100%'}}) }}
</td>
<td style="width: 7%" class="no-padding">
    {{ form_widget(form.percentage,{'attr':{'style':'width: 35px'}}) }}%
</td>
<td class="text-center" style="width: 8%;text-align: center;padding: 0;" class="no-padding">
    {{ form_row(form.outcomes,{'attr':{'class':'text-center','style':'width: 100%;text-align:center'}}) }}
</td>
